<!-- Intro Section end -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <img src="https://marvel-b1-cdn.bc0a.com/f00000000255487/www.sutterhome.com/wp-content/uploads/2023/01/SHW_JAN_2023_GameDay.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="about-text">
                    <h3>A young team that is here to help you get your dream home.</h3>
                    <p>
                        We believe that every bottle of wine has a story to tell, a journey that begins in the vineyards and culminates in the unforgettable moments shared with loved ones. We are dedicated to curating an exceptional collection that embodies the craftsmanship, tradition, and innovation of winemaking.
                    </p>
                    <p>
                        Our team of wine enthusiasts, connoisseurs, and experts tirelessly search for the most extraordinary wines, seeking out vineyards that reflect a deep commitment to quality and sustainability. We collaborate directly with winemakers, ensuring that each bottle represents the essence of their unique terroir and winemaking philosophy.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro Section end -->

<!-- Sell Section -->
<section class="sell-section ">
    <div class="sell-warp spad set-bg" data-setbg="/content/img/sell.jpg">
        <div class="container text-white">
            <div class="section-title">
                <h2>Selling your kidney is easy</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>01.</span></div>
                        <h3>Search</h3>
                        <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>02.</span></div>
                        <h3>Compare</h3>
                        <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sell-item">
                        <div class="si-icon"><span>03.</span></div>
                        <h3>Connect</h3>
                        <p>Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum. Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu.</p>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5 mt-3">
                <a href="#" class="site-btn sb-big">Contact an agent now</a>
            </div>
        </div>
    </div>
</section>
<!-- Sell Section end -->

<!-- Agents Section -->
<section class="agents-section spad">
    <div class="container">
        <div class="section-title">
            <h2>The Agents</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="agent-item">
                    <img src="/content/img/agents/1.jpg" alt="">
                    <div class="ai-text">
                        <h4>Christinne James</h4>
                        <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum.</p>
                        <a href="#" class="readmore-btn">Contact the agent</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="agent-item">
                    <img src="/content/img/agents/2.jpg" alt="">
                    <div class="ai-text">
                        <h4>Davina Brown</h4>
                        <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum.</p>
                        <a href="#" class="readmore-btn">Contact the agent</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="agent-item">
                    <img src="/content/img/agents/3.jpg" alt="">
                    <div class="ai-text">
                        <h4>Michael Smith</h4>
                        <p>Fusce lobortis a enim eget tempus. Class aptent taciti sociosqu ad litora. Donec eget efficitur ex. Donec eget dolor vitae eros feugiat tristique id vitae massa. Proin vulputate congue rutrum.</p>
                        <a href="#" class="readmore-btn">Contact the agent</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Agents Section end -->