<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Mondy | Real Estate HTML Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="Real estate HTML Template">
    <meta name="keywords" content="real estate, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="/content/img/favicon.ico" rel="shortcut icon" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900%7cRoboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/content/css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="~/content/css/style.css" />
    <link rel="stylesheet" href="~/content/css/custom.css" />
    @RenderSection("Styles", false)

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")

    <!--====== Javascripts & Jquery ======-->
    <script src="/content/js/jquery-3.2.1.min.js"></script>
    <script src="/content/js/bootstrap.min.js"></script>
    <script src="/content/js/jquery.slicknav.min.js"></script>
    <script src="/content/js/jquery.magnific-popup.min.js"></script>
    <script src="/content/js/main.js"></script>
</body>
</html>