
@{
    ViewBag.Title = "AdminPanel";
}

<div class="page_container">
    <h2>Admin</h2>
    <ul>
        <li><a href="@Url.Action("products")">Products</a></li>
        <li><a href="@Url.Action("users")">Users</a></li>
    </ul>
</div>

